p:nth-child(1),
span:nth-child(3){
    background-color: pink;
    height: 200px;
}

p:nth-child(2),
span:nth-child(4){
    background-color: chartreuse;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

/* ustawianie 0 odstępu między li  */
ul{ /* + font size initial */
    font-size: 0;
}

li{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: gray;
    border: 2px solid teal;
    font-size: initial; /* + ul */
    line-height: 50px; /* środkowanie w pionie musi być równe wysokości elementu */
    text-align: center; 
}