body{
    margin: 0;
    padding: 0;
}
.number{
    font-size: 8em;
    height: 30%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.number::before{
    content: "";
    animation: animate 11s infinite;
}


@keyframes animate{
    0%{
        content: "10";
    }
    10%{
        content: "9";
    }
    20%{
        content: "8";
    }
    30%{
        content: "7";
    }
    40%{
        content: "6";
    }
    50%{
        content: "5";
    }
    60%{
        content: "4";
    }
    70%{
        content: "3";
    }
    80%{
        content: "2";
    }
    90%{
        content: "1";
    }
    100%{
        content: "0";
    }

}